version: "3"
services:
  node-app:
    build: .
    image: yello22/node-docker
    environment:
      - PORT=3000
    depends_on:
      - percona-mongo

  percona-mongo:
    image: percona/percona-server-mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=steven
      - MONGO_INITDB_ROOT_PASSWORD=mypassword
    volumes:
      - mongo-db:/data/db

  redis:
    image: redis

  nginx:
    image: nginx:stable-alpine
    ports:
      - "3000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  mongo-db:
